.App {
  text-align: center;
  background-color: lightgrey;
  height: 100%;
}

.centerLinks {
  display: inline-block;
  font-size: 12px;
  height: 50px;

}
.nav-item {
  color: #a8a4a4;
}
a:hover {
  color: black;
}
img {
  margin: 5px, 0, 0, 10px;
  float: left;
}
nav {
  background-color: white;
}
img {
  height: 25px;
  margin-left:7px;
  margin-top: 5px;
}