.SideBar {
    width: 250px;
    border-top:  rgba(40, 49, 73, 1) solid 2px;
    background-color: rgba(40, 49, 73, 1);
    height: 100vh;
} 

li {
    border-bottom:  rgba(40, 49, 73, 1) solid 1px;
}
a:hover {
    color: white;
}
Link:hover {
    color: white;
}
