.SideBar {
    width: 250px;
    border-top:  rgba(40, 49, 73, 1) solid 2px;
    background-color: rgba(40, 49, 73, 1);
    height: 100vh;
} 
a{
    border-bottom: rgb(186, 187, 189) .1px solid;
    color:white;
}
a:hover {
    color: grey;
}
Link:hover {
    color: white;
}
